.Header {
  width: 100vw;
  height: 100px;
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 30%);
  .mainSide {
    width: 70%;
    height: 100%;
    display: flex;
    img {
      width: 275px;
    }
    .menu {
      width: 55%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 17px;
      font-weight: bolder;

      ul {
        li {
          margin-right: 50px;
          display: inline-block;
          a {
            text-decoration: none;
            color: black;
            -webkit-transition: all 0.5s;
          }
          i {
            font-size: 15px;
            margin-left: 5px;
            -webkit-transition: all 0.5s;
          }
          // a:hover {
          //     color: rgb(255, 68, 68);
          // }
        }
        li:hover a {
          color: rgb(255, 68, 68);
        }
        li:hover {
          color: rgb(255, 68, 68);
        }
      }
    }
    .sign {
      flex-grow: 1;
      background-color: black;
    }
  }
}
