.choosebankMainSize {
  width: 930px;
  height: auto;
  box-sizing: border-box;
  background-color: #fd6f37;
  padding: 10px 10px 10px 10px;
  .title {
    height: 50px;
    color: white;
    font-size: 25px;
  }
}
.subMainSizeChooseBank {
  width: 100%;
  height: 90%;
  background-color: white;
}
