.InfoTicker {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #181B23;
    // background-image: url('https://img.freepik.com/free-vector/abstract-black-texture-background-hexagon_206725-413.jpg?w=1380&t=st=1676453160~exp=1676453760~hmac=e2b33d953ae1225a4062ed40f3f7b6ba3041fa970e9c0813267277ab37c5f38e');
    // background-image: url('https://img.freepik.com/free-photo/black-textured-brick-wall-background_53876-148145.jpg?w=1380&t=st=1676453401~exp=1676454001~hmac=a6f22d79fc92a2b14395bcf62160f6f765365da48ffbe1ce6c2a09efc032000e');
    background-position: center;
    background-size: cover;
    padding: 0px 0px 100px 0px;
    .mainSize {
        width: 1200px;
        height: 150px;
        // background-color: aqua;
        .subheader {
            width: 100%;
            height: 40px;
            font-size: 18px;
            margin-top: 10px;
            color: #6C7193;
            span:hover {
                // color: white;
                color: #d6997e;
                cursor: pointer;
            }
            i {
                margin: 0px 7px 0px 4px;
            }
        }
        .menuInfo {
            width: 100%;
            margin-top: 20px;
            height: 40px;
            // background-color: #d6997e;
            border-bottom: 1px solid #6C7193;
            span {
                // display: block;
                margin-right: 30px;
                font-size: 25px;
                color: #6C7193;
            }
            span:hover {
                color: #d6997e;
                cursor: pointer;
            }
        }
    }





















    .mainSizeMini {
        width: 830px;
        height: 100%;
        // background-color: pink;
        .TickerContainer {
            width: 100%;
            height: 100%;
            // background-color: #174855;

            .TickerItem {
                width: 100%;
                height: 350px;
                background-image: url(./3.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                padding: 35px;
                box-sizing: border-box;
                display: flex;
                margin-bottom: 20px;
                .infLeft {
                    width: 65%;
                    height: 100%;
                    // background-color: aqua;
                    box-sizing: border-box;
                    padding: 10px 0px 0px 25px;
                    color: #552A17;
                    font-family: sans-serif;
                    h3 {
                        font-size: 25px;
                        font-weight: bolder;
                        margin-bottom: 20px;
                    }
                    h4 {
                        font-size: 20px;
                        font-weight: bolder;
                        margin-bottom: 10px;
                    }
                    h5 {
                        font-size: 16px;
                        color: rgb(145, 10, 10);
                    }
                }
    
    
    
                .infRight {
                    width: 35%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    font-weight: bolder;
                    color: black;
                }
            }
        }
    }
}