.InfoTickerContainer {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.InfoTickerMainsize {
  width: 1200px;
  display: flex;
}
.TickkerItemSliderContainer {
  margin-top: 20px;
  width: 800px;
}
.TickkerItemContainer {
  min-width: 800px;
  display: flex;
  justify-content: center;
}
.BookedTicker {
  width: 100%;
  margin-top: -5px;
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    margin-top: -25px;
    font-size: 18px;
    h4 {
      margin-right: 15px;
    }
    .ExpiredFilm {
      margin-right: 15px;
      cursor: pointer;
      height: 26px;
      padding: 10px;
      padding-bottom: 8px;
      color: #ca4110;
      border: 1px solid #f26b38;
      border-radius: 15px;
    }
    .SoonFilm {
      margin-right: 15px;
      cursor: pointer;
      height: 26px;
      padding: 10px;
      padding-bottom: 8px;
      color: #ca4110;
      border: 1px solid #f26b38;
      border-radius: 15px;
    }
    h4:hover {
      background-color: #f26b38;
      border-radius: 15px;
      transition: 0.3s;
      color: white;
    }
  }
  h3 {
    margin-top: -20px;
    margin-bottom: 50px;
  }
  h3::after {
    display: block;
    width: 50px;
    height: 2.5px;
    margin-top: 8px;
    content: "";
    background-color: #f26b38;
  }
}
.titleFilmNow::after {
  display: block;
  width: 50px;
  height: 2.5px;
  margin-top: 8px;
  content: "";
  background-color: #f26b38;
}
.nextbuttonTicket {
  color: black;
  font-size: 50px;
  position: absolute;
  top: 45%;
  right: 10px;
}
.prevbuttonTicket {
  color: black;
  font-size: 50px;
  position: absolute;
  top: 45%;
  left: 10px;
}
.TableContainer {
  overflow-y: auto;
  height: 846px;
  width: 100%;
  thead {
    tr {
      width: 100%;
      th {
        width: 200px;
        border: 1px solid #47251c;
        background-color: #47251c;
        color: white;
        position: sticky;
        top: 0px;
        border: none;
        height: 50px;
      }
    }
  }
  tbody {
    tr {
      td {
        width: 160px;
        text-align: center;
        height: 70px;
      }
      cursor: pointer;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    tr:hover {
      background-color: #f2f2f2;
    }
  }
}
.TableContent {
  border: 1;
  border-collapse: collapse;
  border: 1px solid lightgray;
}
.activeButtonFilm {
  background-color: #f26b38;
  color: white !important;
  font-weight: bolder;
}
.overlayInfoticket {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(79, 79, 79, 0.6);
}
